<div class="container">


<%= render "shared/error_messages", model: song %>

<%= form_for song do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>


<%= form.select :artist_id, artists  %>


  <br>
  <%= form.label :duration %>
  <%= form.number_field :duration %>
  <br>
  <br>
   <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>
</div>
